.item-content {
    word-wrap: break-word;
}
.userlogined-at-header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 8px;
  }
  .border-radius-50phantram{
    width: 23px;
    height: 23px;
    overflow: hidden;
    border-radius: 50%;
  }
  .width-100-height-100{
    width: 100%;
    height: 100%;
    margin-top: -6px;
  }
  